agent-socialmedia-v1/n8n-socialmedia-agent/n8n_SocialMedia_Agent_v1.json
{
  "name": "✨🤖Automate Multi-Platform Social Media Content Creation with AI",
  "nodes": [
    {
      "parameters": {
        "content": "# 🧑‍🦱 User Input for Social Media Posts \n💡 Unpin default data to get started",
        "height": 360,
        "width": 360,
        "color": 4
      },
      "id": "1e77584f-76b4-420b-b6b0-99132d6c0151",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -920,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🛠️ Social Media Content Factory\n- LinkedIn\n- Instagram\n- Facebook\n- X\n- TikTok\n- Threads\n- YouTube Shorts\n",
        "height": 600,
        "width": 920,
        "color": 6
      },
      "id": "dc92fcf1-3618-4188-a30f-6c2205cc3266",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 👍 Approve Content Before Proceeding",
        "height": 360,
        "width": 400,
        "color": 4
      },
      "id": "02429ea7-be59-49e3-9d85-c1678ee64abd",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# ✉️ Prepare & Format Approval Email",
        "height": 560,
        "width": 500,
        "color": 5
      },
      "id": "fa38e25c-89e9-4d9b-be78-03aeb6965e30",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2040,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"platform_posts\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"LinkedIn\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n                        \"image_suggestion\": {\n                  \t\t\t\"type\": \"string\"\n                  \t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Instagram\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"caption\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"emojis\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"Facebook\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"call_to_action\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"X-Twitter\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n                        \"video_suggestion\": {\n                \t\t\t\"type\": \"string\"\n                \t\t},\n                        \"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"character_limit\": {\n\t\t\t\t\t\t\t\"type\": \"integer\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t},\n                \"TikTok\": {\n                \t\"type\": \"object\",\n                \t\"properties\": {\n                \t\t\"video_suggestion\": {\n                \t\t\t\"type\": \"string\"\n                \t\t},\n                \t\t\"caption\": {\n                \t\t\t\"type\": \"string\"\n                \t\t},\n                \t\t\"hashtags\": {\n                \t\t\t\"type\": \"array\",\n                \t\t\t\"items\": {\n                \t\t\t\t\"type\": \"string\"\n                \t\t\t}\n                \t\t},\n                \t\t\"call_to_action\": {\n                \t\t\t\"type\": \"string\"\n                \t\t}\n                \t}\n                },\n                \"Threads\": {\n                \t\"type\": \"object\",\n                \t\"properties\": {\n                       \"image_suggestion\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n                \t\t\"text_post\": {\n                \t\t\t\"type\": \"string\"\n                \t\t},\n                \t\t\"hashtags\": {\n                \t\t\t\"type\": \"array\",\n                \t\t\t\"items\": {\n                \t\t\t\t\"type\": \"string\"\n                \t\t\t}\n                \t\t},\n                \t\t\"call_to_action\": {\n                \t\t\t\"type\": \"string\"\n                \t\t}\n                \t}\n                },\n                \"YouTube_Shorts\": {\n                  \t\"type\": \"object\",\n                  \t\"properties\": {\n                  \t\t\"video_suggestion\": {\n                  \t\t\t\"type\": \"string\"\n                  \t\t},\n                  \t\t\"title\": {\n                  \t\t\t\"type\": \"string\"\n                  \t\t},\n                          \"description\": {\n                              \"type\": \"string\"\n                          },\n                          \"hashtags\": {\n                              \"type\": \"array\",\n                              \"items\": {\n                                  \"type\": \"string\"\n                              }\n                          },\n                          \"call_to_action\": {\n                              \"type\": \"string\"\n                          }\n                      }\n                  }\n\t\t\t}\n\t\t},\n\t\t\"additional_notes\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}\n"
      },
      "id": "9b6e2038-9f65-4e0f-b13d-6c09e8224ed6",
      "name": "Social Media Content",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -60,
        1420
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{$('Social Media Content Factory').item.json.output.description.replaceAll(' ','-').replaceAll(',','').replaceAll('.','') }}",
        "options": {}
      },
      "id": "bf4e6d41-b2be-44fc-8fc7-6dc6bc4ee69a",
      "name": "pollinations.ai",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        100,
        2360
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Create Post Image\nhttps://pollinations.ai/\nhttps://image.pollinations.ai/prompt/[your image description]\n\n(alternative)",
        "height": 340,
        "width": 300
      },
      "id": "5a950645-8e74-4be8-bad2-73d9f827a6b8",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        2200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "7b5b53eb-85c6-4a90-b209-7bd8d638f237",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1900,
        1860
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiration",
              "value": "0"
            },
            {
              "name": "key",
              "value": "={{ $env.IMGBB_API_KEY}} "
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "daa6773e-0e15-4994-bcee-b3d996655855",
      "name": "Save Image to imgbb.com3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1480,
        1540
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/[your-unique-id]/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.data.medium.url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "af06853c-258e-4dfb-a579-3168c8de96bd",
      "name": "Instagram Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2740,
        1240
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "[your-unique-id]",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}"
              }
            ]
          }
        }
      },
      "id": "6ee72138-a8ec-4fbd-8f14-fd6e881edfd1",
      "name": "Instragram Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        2740,
        1460
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "={{ $('Social Media Content Factory').item.json.output.platform_posts['X-Twitter'].post }}",
        "additionalFields": {}
      },
      "id": "9e168865-1eae-4e53-99c9-91b041426ecb",
      "name": "X Post",
      "type": "n8n-nodes-base.twitter",
      "position": [
        2740,
        1680
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "736ZVmKBc6bcHpw9",
          "name": "X account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "[your-unique-id]",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.post }}\n\n{{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.call_to_action }}\n"
              },
              {
                "name": "link",
                "value": "={{ $('Social Media Content Factory').item.json.output.platform_posts.Facebook.call_to_action }}"
              }
            ]
          }
        }
      },
      "id": "4ee55c94-7251-445e-8ce7-15eee7165010",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        2760,
        1900
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "12345678",
        "text": "={{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.hashtags }}\n{{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "=data",
        "additionalFields": {}
      },
      "id": "3a015f3f-a162-411a-85e8-e1f042d9c653",
      "name": "LinkedIn Post",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        2760,
        2080
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "cOGYYXfzk9cxZhBm",
          "name": "LinkedIn account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Social Media Content Factory').item.json.output.platform_posts.Instagram.caption }}",
        "options": {}
      },
      "id": "8ab03d75-b4c5-4271-8fa9-830f449a3a3c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1040,
        1520
      ],
      "typeVersion": 1.8,
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "A9Nk5auye7S4VJEq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "140cff41-a619-4111-8dc9-3ec8fc45e061",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3780,
        2300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Format\n",
        "height": 1100,
        "width": 440,
        "color": 6
      },
      "id": "44e3bada-7665-4268-bb79-12ffb377552e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        1180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Publish",
        "height": 1100,
        "width": 300,
        "color": 5
      },
      "id": "75bfc1f4-0afa-4d8d-b5cc-83e29b6570f9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2680,
        1160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 4️⃣: Send Final Results of Social Media Factory",
        "height": 480,
        "width": 920,
        "color": 7
      },
      "id": "ff5d050a-111c-4467-bc61-e51444943cb5",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3680,
        2060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create Post Image",
        "height": 260,
        "width": 260,
        "color": 3
      },
      "id": "26a684cc-72d9-40c8-bd30-1d074d914328",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        1400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $env.EMAIL_ADDRESS_JOE }} ",
        "subject": "=🔥FOR APPROVAL🔥 New LinkedIn Post",
        "message": "=<html>\n<body style=\"margin:0; padding:0; font-family: Arial, sans-serif; background-color: #f5f5f5;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n    <h2 style=\"font-size:20px; color:#333; margin:0 0 15px 0;\">LinkedIn</h2>\n      \n    <!-- LinkedIn Card -->\n    <div style=\"background: #ffffff; border-radius: 8px; margin-bottom: 20px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n      <!-- Card Header Image -->\n      <div style=\"height: 200px; overflow: hidden; border-radius: 8px 8px 0 0;\">\n        <img src=\"{{ $json.data.medium.url }}\" alt=\"Featured Image\" style=\"width: 100%; height: 100%; object-fit: cover;\">\n      </div>\n\n      <!-- Card Content -->\n      <div style=\"padding: 25px;\">\n\n        <p style=\"font-size:16px; color:#555; line-height: 1.6; margin-bottom: 15px;\">\n          {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.post }}\n        </p>\n        \n        <div style=\"margin: 15px 0;\">\n          <span style=\"display: inline-block; background: #f0f0f0; padding: 4px 8px; margin: 2px; border-radius: 4px; font-size:12px; color:#333;\">\n            {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.hashtags }}\n          </span>\n        </div>\n\n        <p style=\"font-size:14px; color:#1a0dab; font-weight: 600; margin:15px 0 0 0;\">\n          {{ $('Social Media Content Factory').item.json.output.platform_posts.LinkedIn.call_to_action }}\n        </p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "id": "930e76ac-6e9c-4a3f-9229-28ba18de25a3",
      "name": "Approve Final Post Content",
      "type": "n8n-nodes-base.gmail",
      "position": [
        140,
        1920
      ],
      "webhookId": "c46cf421-ddb6-45a8-b83b-80b381666f0e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "Bxjgvbzb1EdBX1Kf",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Final Approval before Publishing to Social Feeds\n(optional)",
        "height": 340,
        "width": 300
      },
      "id": "051b7ff6-febb-4aba-9790-bc977c11e645",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c6edc76-1e3b-45b0-8baa-33a14c678150",
              "name": "Instagram Post Result",
              "type": "string",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3193aef-d115-4c3b-87b2-b8ebd5bb0c05",
      "name": "Instagram Result",
      "type": "n8n-nodes-base.set",
      "position": [
        3000,
        1460
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c6edc76-1e3b-45b0-8baa-33a14c678150",
              "name": "X Post Result",
              "type": "string",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f8b248f-5c79-412c-81ef-3c52bef7f257",
      "name": "X Result",
      "type": "n8n-nodes-base.set",
      "position": [
        3000,
        1680
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c6edc76-1e3b-45b0-8baa-33a14c678150",
              "name": "Facebook Post Result",
              "type": "string",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4c1ee118-aba1-4632-bd48-27cef9d5e272",
      "name": "Facebook Result",
      "type": "n8n-nodes-base.set",
      "position": [
        3000,
        1900
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c6edc76-1e3b-45b0-8baa-33a14c678150",
              "name": "LinkedIn Post Result",
              "type": "string",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "490223f9-9b6a-4617-8829-c8e4b130feb7",
      "name": "LinkedIn Result",
      "type": "n8n-nodes-base.set",
      "position": [
        3000,
        2080
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "formTitle": "workflows.diy",
        "formDescription": "=Welcome to the workflows.diy AI-Powered Assistant!\n\nThis tool is designed to streamline and enhance your social media content creation process.\n\nSimply provide key inputs like a topic or title and an optional image, and our intelligent agent will generate engaging, platform-specific post descriptions tailored to your audience. \n\nWhether you're a marketer, business owner, or influencer, this assistant saves you time while delivering professional-quality content optimized for maximum impact.\n\n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "placeholder": "Provide a concise and clear title or main topic for your post (e.g., \"New Product Launch,\" \"Exciting Company Update\"). This helps the AI accurately capture the focus of your content.",
              "requiredField": true
            },
            {
              "fieldLabel": "Keywords or Hashtags (optional)",
              "placeholder": "Include any specific keywords or hashtags you'd like the AI to incorporate into the post. This ensures the content aligns with your branding and campaign objectives.",
              "requiredField": "={{ false }}"
            },
            {
              "fieldLabel": "Link (optional)",
              "placeholder": "=Provide the URL of any product, service, form, support page, or other resource. This link will be included in the generated post to direct your audience to the relevant content.\n"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Automatically Generate Social Media Content"
        }
      },
      "id": "9732c12e-903e-49ac-8d29-ffc4d78c7ff8",
      "name": "Submit Social Post Details",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1240,
        540
      ],
      "webhookId": "3e762442-715e-47e1-a65e-ae92085857ae",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "# Step 1️⃣: Create Social Media Written Content\nNote:  \nYou could use the output of step 1 to create your written content and manually post if required.  \nYou so not have to implement step 2.",
        "height": 760,
        "width": 2920,
        "color": 7
      },
      "id": "899f658f-4faa-4ba7-ae02-cc8fb1d22c71",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -440,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 2️⃣: Create Image or Upload Image for Social Post",
        "height": 640,
        "width": 940,
        "color": 7
      },
      "id": "a8075b2a-4cd0-4b0c-9b19-8bd58de449c0",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        1140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 3️⃣: Publish Final Social Media Posts",
        "height": 1420,
        "width": 1520,
        "color": 7
      },
      "id": "1da28ef3-9061-4e83-84e0-3502d254d63a",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "1955b762-b9c4-4704-955b-093686e827bd",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        3300,
        2080
      ],
      "typeVersion": 3,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a **content creation AI** for workflows.diy, a leading creator of **n8n workflow automation solutions and AI Agentic workflows**.\n\nYour goal is to craft **engaging, platform-specific content** for LinkedIn, Instagram, Facebook, Twitter (X), TikTok, Threads, and YouTube Shorts. Each post must align with the platform’s audience preferences, tone, and style while reflecting workflows.diy's expertise. The content should provide **value-driven insights**, tutorials, reviews, and discussions that resonate with tech professionals, automation enthusiasts, businesses, and n8n users.\n\n### Key Objectives:\n1. **Platform Optimization**: Tailor content format, tone, and hashtags to suit each platform’s algorithm and audience engagement patterns.\n2. **SEO & Hashtags**: Use a mix of general automation hashtags and trending platform-specific hashtags to maximize reach.\n3. **Engagement Focus**: Create content that sparks interaction through tutorials, comparisons, reviews, or thought-provoking discussions.\n4. **Consistency**: Maintain a professional yet approachable tone across all platforms while adapting to audience needs.\n5. **Data-Driven Strategy**: Analyze trends and performance data to refine content strategy and hashtag usage.\n\n### General Hashtags:\n#workflowsdiy #n8n #automation #AIWorkflows #WorkflowAutomation #TechSolutions\n\n---\n\n### Platform-Specific Guidelines:\n\n#### 1. LinkedIn\n   - **Style**: Professional and insightful.\n   - **Tone**: Business-oriented; focus on automation use cases, industry insights, and community impact.\n   - **Content Length**: 3-4 sentences; concise but detailed.\n   - **Hashtags**: #Innovation #Automation #WorkflowSolutions #DigitalTransformation #Leadership\n   - **Call to Action (CTA)**: Encourage comments or visits to workflows.diy’s website for more insights.\n\n#### 2. Instagram\n   - **Style**: Visual storytelling with creative captions.\n   - **Tone**: Inspirational and engaging; use emojis for relatability.\n   - **Content Length**: 2-3 sentences paired with eye-catching visuals (e.g., infographics or workflow demos).\n   - **Visuals**: Showcase milestones (e.g., new workflow launches), tutorials, or product highlights.\n   - **CTA**: Use phrases like \"Swipe to learn more,\" \"Tag your team,\" or \"Check out the link below!\"\n   - **Link Placement**: Add the provided link before hashtags; if no link is provided, use \"Visit our website: https://workflows.diy.\"\n   - **Hashtags**: #AutomationLife #TechInnovation #WorkflowTips #Programming #Engineering\n\n#### 3. Facebook\n   - **Style**: Friendly and community-focused.\n   - **Tone**: Relatable; highlight user success stories or company achievements in automation.\n   - **Content Length**: 2-3 sentences; conversational yet professional.\n   - **Hashtags**: #SmallBusinessAutomation #Entrepreneurship #Leadership #WorkflowInnovation\n   - **CTA**: Encourage likes, shares, comments (e.g., “What’s your favorite automation tip?”).\n\n#### 4. Twitter (X)\n   - **Style**: Concise and impactful.\n   - **Tone**: Crisp and engaging; spark curiosity in 150 characters or less.\n   - **Hashtags**: #WorkflowTrends #AIWorkflows #AutomationTips #NoCodeSolutions\n   - **CTA**: Drive quick engagement through retweets or replies (e.g., “What’s your go-to n8n workflow?”).\n\n#### 5. TikTok\n   - **Style**: Short-form video content with trending audio or effects.\n   - **Tone**: Fun yet informative; focus on quick workflow demos or automation tips.\n   - **Content Length**: 15-60 seconds with captions summarizing the key message.\n   - **Hashtags**: Use trending tech-related hashtags relevant to TikTok’s audience (e.g., #n8nTips).\n   - **CTA**: Encourage viewers to follow workflows.diy for more automation hacks.\n\n#### 6. Threads\n   - **Style**: Conversational and community-driven posts.\n   - **Tone**: Casual yet informative; encourage discussions around automation trends or innovations.\n   - **Content Length**: 1-2 short paragraphs with a question or thought-provoking statement at the end.\n   - **Hashtags**: Similar to Instagram but tailored for trending Threads topics related to automation.\n\n#### 7. YouTube Shorts\n   - **Style**: Short-form video content showcasing quick workflow tutorials or use cases.\n   - **Tone**: Authoritative yet approachable; establish workflows.diy as a leader in n8n automation solutions.\n   - Content Length:\n     - Tutorials/Reviews (long-form): 5-10 minutes\n     - Shorts/Highlights (short-form): Under 1 minute\n   - CTA:** Encourage subscriptions**, likes, comments (e.g., “Subscribe for more workflow tips!”).\n\n---\n\n### Content Creation Workflow:\nFor every post:\n1. Use the following input fields:\n    - Topic/About the Post: {{ $json.Title }}\n    - Brief: {{ $json.Brief }}\n\n2. Adapt the tone/style based on the platform guidelines above.\n\nEnsure every post reflects workflows.diy's mission of delivering high-quality automation insights while maximizing engagement across platforms.\n\nFollow the provided JSON schema for your reponse.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Use the provided tools to research the topic based on latest information.  Todays date is {{ $now }}"
        }
      },
      "id": "6dc47749-eb49-4351-89aa-50f2b6c035bb",
      "name": "Social Media Content Factory",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -220,
        1240
      ],
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Image (optional)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .png, .jpeg"
            },
            {
              "fieldLabel": "Generate Custom Image using AI Image Generator",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Generate Post Image",
          "buttonLabel": "Submit"
        }
      },
      "id": "b4a4838a-83b0-4f28-a9f3-dea915228325",
      "name": "Image Choice",
      "type": "n8n-nodes-base.form",
      "position": [
        -320,
        2000
      ],
      "webhookId": "0dc811ef-b2e0-4213-a0c9-e9b5fb9fcbf1",
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "={{ $env.EMAIL_ADDRESS_JOE }} ",
        "subject": "🔥RESULTS🔥 Social Media Factory",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "1cf97c10-e60f-4584-b069-3d4506868d8e",
      "name": "Gmail Results",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3980,
        2300
      ],
      "webhookId": "0a81b95a-cd82-465d-8450-cf38518a4cbb",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "Bxjgvbzb1EdBX1Kf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 360,
        "width": 840,
        "color": 4
      },
      "id": "a33f9431-bede-4f66-ae0d-1e686a3092b7",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3700,
        2180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Alternative User Uploaded Image\n(optional)",
        "height": 580,
        "width": 300
      },
      "id": "66364a53-c2fc-43fd-be92-683b373652df",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        1800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a10bca0-c3a8-496b-a22e-120928ad7736",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        -160,
        1440
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "E5bNbaL0Jpive2mr",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 💡Notes\n\nAdjust the Social Media Content Factory prompts to suit your personal or business requirements.\n\nUpdate Credentials for:\n- OpenAI API Key\nhttps://auth.openai.com/log-in\n\n- Google Studio API\nhttps://aistudio.google.com/app/apikey\n\n- SERP API Key\nhttps://serpapi.com/\n\n- Gmail OAuth\nhttps://docs.n8n.io/integrations/builtin/credentials/google/\n\n- Telegram Bot (Optional)\nhttps://docs.n8n.io/integrations/builtin/credentials/telegram/\n\n- imgbb\nhttps://imgbb.com/",
        "height": 500,
        "width": 480
      },
      "id": "fa765062-22ef-4f26-9f02-099235edc771",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡Notes\n\nUpdate all Social Media Platform Credentials as required.\n\nAdjust parameters and content for each platform to suit your needs.",
        "height": 180,
        "width": 300
      },
      "id": "5ffc2b16-61af-4395-a57b-20d1cd125488",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "$input.first().binary.data = $input.first().binary.Upload_Image__optional_\ndelete $input.first().binary.Upload_Image__optional_\nreturn $input.first()"
      },
      "id": "b21f527c-5674-49d0-a114-866d669e7ad6",
      "name": "Rename Binary File",
      "type": "n8n-nodes-base.code",
      "position": [
        -300,
        2220
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e916f39-d91a-4d1f-b9bc-028a6f7ad0d3",
              "leftValue": "={{ $('Notion Trigger').item.json.Image[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "7cd4dd96-2bca-476c-a26d-7859b4ad94f2",
              "leftValue": "={{ $('Notion Trigger').item.json.Image[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        1260
      ],
      "id": "23c87692-7bc1-4095-afc8-0c60a4d1eeeb",
      "name": "If"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        1400
      ],
      "id": "07d4e8dd-7aef-4db6-97ea-fdc28508c0be",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SA4PJMPaBHiMJZCw",
          "name": "ainsidercompany-GoogleGeminiAPI"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "12fb65dd-efcf-81ef-b36f-e35cbff5c4f0",
          "mode": "list",
          "cachedResultName": "AinsiderContentHub",
          "cachedResultUrl": "https://www.notion.so/12fb65ddefcf81efb36fe35cbff5c4f0"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        940
      ],
      "id": "67a8bd5c-d1d2-40b0-8288-5e718d45d2b2",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "MIpl5ShRU371CjrS",
          "name": "Notionn8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "3e148590-d926-4f37-8b5d-a8ffae8cae16",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        2140,
        1280
      ],
      "typeVersion": 3
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Save Image to imgbb.com3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "X Post": {
      "main": [
        [
          {
            "node": "X Result",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Social Media Content Factory",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "X Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Gmail Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Choice": {
      "main": [
        [
          {
            "node": "Rename Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post": {
      "main": [
        [
          {
            "node": "Facebook Result",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LinkedIn Post": {
      "main": [
        [
          {
            "node": "LinkedIn Result",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Instagram Image": {
      "main": [
        [
          {
            "node": "Instragram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instragram Post": {
      "main": [
        [
          {
            "node": "Instagram Result",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LinkedIn Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "pollinations.ai": {
      "main": [
        []
      ]
    },
    "Instagram Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Content": {
      "ai_outputParser": [
        [
          {
            "node": "Social Media Content Factory",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save Image to imgbb.com3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Final Post Content": {
      "main": [
        []
      ]
    },
    "Submit Social Post Details": {
      "main": [
        []
      ]
    },
    "Social Media Content Factory": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Content Factory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Social Media Content Factory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Instagram Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "X Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "b56fc087-e4ab-479a-9f39-dd9bcce2c2fe",
  "meta": {
    "templateId": "3066",
    "instanceId": "c888959b38494396794b70188a19578baf88bb0b002f3a290fa504cabea4bfd5"
  },
  "id": "Fm84oMuUuw4C5Tpu",
  "tags": []
}