agent-slack-personal-agent/Slack_Personal_Agent.json
{
  "name": "Slack-Personal-Agent",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C08FRLUD6N5"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json?.thread_ts ?? $('Slack Trigger').item.json.ts }}",
              "reply_broadcast": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1080,
        -20
      ],
      "id": "953872ba-e346-406a-859b-b3076849628a",
      "name": "Slack",
      "webhookId": "10a14a46-c42c-49a5-ba81-ac50a3bdc240",
      "credentials": {
        "slackApi": {
          "id": "6hJzFOaMd5PPsZRj",
          "name": "Slack API - Ainsider"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "#ROLE\nYou are a helpful assistant of Piotr Macai and Ainsider AI and Web Agency.\n\n#REQUIREMENTS\nKeep your answers short and precise.\n\n#ADDITIONAL INFORMATIONS\nCurrent date and time is {{ $now }}\n\n# TOOLS\n\n## Read Email\nUse this tool to retrieve the unread emails.\n\n## Send Email\n  Use this tool to send emails.\n\n## Get Events\nUse this tool to retrieve the events from Calendar. \n\n## Create Event\nUse this tool to create event in Calendar.\n\n## PinecodeKB\nUse this tool for retrieving informations about Ainsider Ai and Web Agency services and for creating the offers for agency client, using the PinecodeKB as offers blueprint.\n\n## OfferCreator\nCall this tool to create offer for Ainsider lead/client, based in client project brief or client needs decription.\nAlways call this tool when the message is starting with string: offer:\n\n## Notion \nCall this tool to retrieve the project details from Notion database.\n\nAlways call this tool when the message is starting with string: project:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        -40
      ],
      "id": "8f602226-c3ec-4f7e-8996-b7f80c071c44",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "trigger": [
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C08FRLUD6N5"
        },
        "downloadFiles": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        -40
      ],
      "id": "7117394a-c824-408a-ae32-09d933712b7d",
      "name": "Slack Trigger",
      "webhookId": "4cc7674e-0ffb-477b-8bb7-9e7ea35531a6",
      "credentials": {
        "slackApi": {
          "id": "6hJzFOaMd5PPsZRj",
          "name": "Slack API - Ainsider"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json?.thread_ts ?? $('Slack Trigger').item.json.ts }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        200
      ],
      "id": "411fb3d9-0eeb-4adf-9ed0-29092b5d1fd0",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "141702a3-8aa9-441b-8777-dac77abdacc0",
                    "leftValue": "={{ $json.files }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FileInput"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TextInput"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        120,
        -40
      ],
      "id": "6a84ad88-e2b5-4e41-b984-9f0686a076a3",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "macaipiotr@gmail.com",
          "mode": "list",
          "cachedResultName": "macaipiotr@gmail.com"
        },
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        540,
        400
      ],
      "id": "06b561ea-832b-4a6e-8ba9-5ae1abeef47e",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "igwxz43AHOuEnxeW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "macaipiotr@gmail.com",
          "mode": "list",
          "cachedResultName": "macaipiotr@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        700,
        400
      ],
      "id": "eac1608d-c244-4e9c-bdc5-ea6aaee73d7c",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "igwxz43AHOuEnxeW",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "labelIds": [
            "Label_10",
            "Label_8",
            "IMPORTANT"
          ],
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        840,
        400
      ],
      "id": "aaaa4691-5808-4b58-a2f6-0c5bb38f7215",
      "name": "Gmail",
      "webhookId": "d5b9cb4d-1a01-41a0-836e-69ea407faf07",
      "credentials": {
        "gmailOAuth2": {
          "id": "Bxjgvbzb1EdBX1Kf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"emailSubject\"), \"The email subject line\" }}",
        "message": "={{ $fromAI(\"emailBody\"), \"The email_body from Agent:\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        980,
        400
      ],
      "id": "05ac88b2-e741-4a97-b73d-04063f3f6da9",
      "name": "Send Email",
      "webhookId": "4f7b7450-8823-4c83-b0b5-fef1b5510d7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Bxjgvbzb1EdBX1Kf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        340,
        -200
      ],
      "id": "d0a8c3df-eecb-4f0e-8919-4fe822809af3",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "A9Nk5auye7S4VJEq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7b317d0-b905-489d-885d-37d9f047926f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        60
      ],
      "id": "4e4c344f-5aed-48ab-ab07-2e00f4c3a9b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        400
      ],
      "id": "7eed6479-f423-4e5b-8dca-d9a20103617f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "A9Nk5auye7S4VJEq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "13fb65dd-efcf-81d4-b91e-dd4216669eb0",
          "mode": "list",
          "cachedResultName": "SalesCRM",
          "cachedResultUrl": "https://www.notion.so/13fb65ddefcf81d4b91edd4216669eb0"
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        1120,
        400
      ],
      "id": "8e80b5ac-9004-4cec-b8cc-95a56c55cdff",
      "name": "salesCRMNotion",
      "credentials": {
        "notionApi": {
          "id": "MIpl5ShRU371CjrS",
          "name": "Notionn8n"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "salesCRMNotion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4997e81e-183c-448f-a689-07b0c7df3b0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c888959b38494396794b70188a19578baf88bb0b002f3a290fa504cabea4bfd5"
  },
  "id": "XIJw00rQkUd8Gt6j",
  "tags": []
}