agent-cms-content-creator/n8n-content-creator-agent.json
{
  "name": "ContentCreatorAgent-Ainsider.pl",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        180,
        220
      ],
      "id": "c4a83a4d-f92b-45d1-9a51-afdb6f91b9c6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zT2m0u7o88NQvZX0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.Name }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "id": "bf30a927-c4a0-484e-90eb-e024176c6fb3",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        460,
        220
      ],
      "id": "b8bcb498-34e1-461d-a26d-f4c4983ca53a",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "E5bNbaL0Jpive2mr",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#ROLE\nYou'are the worldclass journalist and content creator specialized in AI and technology.\n\n#TASK\nCreate article about that title: {{ $json.Name }} ,with that research starter brief showing you the context and what to include in your research : {{ $json.Brief }}\n\nIncluding that sources of article (urls): {{ $json.Source }}\n\n# REQUIREMENTS\n\nAnd following that additional notes and requirements for article/post: {{ $json.Notes }}\n\nArticle/post cannot have more than 1000 characters at maximum. Optimum lenght is 500-700 characters, but always look to additional notes: {{ $json.Notes }}\n\nExpand that all, adding the key informations, features and all the most important data and informations.\n\nResearch should be concise and precise, without unnecessary informations.\n\nNEVER put into research the unproven, non-checked informations - you should always create professional technical research.",
        "options": {
          "systemMessage": "You are a reseracher and content creator responsible for creating the basic research about given topic based on brief and resources, and based on that - your main task is to create the professional article about given topic. \n "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        -40
      ],
      "id": "69000d78-5bf1-48f2-ba68-87ef8d8c4086",
      "name": "Researcher"
    },
    {
      "parameters": {
        "title": "={{ $('Notion Trigger1').item.json.Name }}",
        "additionalFields": {
          "content": "=Description: {{ $('Notion Trigger1').item.json.Brief }}\n\n{{ $json.output }}",
          "status": "draft"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        860,
        60
      ],
      "id": "11523812-7621-4b10-9557-824d3782df4a",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "vhK6QnOjlOUmcnfg",
          "name": "Ainsider-pl"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# TASK\nYour task is to detect language of artcile, and translate that article between/to polish and english language.\n\nIf article is in polish - translate to english.\n\nIf article is in english, translate to polish.\n\n\n#REQUIREMENS\n\nIt should be translation for technical audience, that NOT translate the AI, LLM and technology related phrases like: AI, LLM, Prompt Engineering, etc.\n\n\nArticle: {{ $json.output }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        860,
        -260
      ],
      "id": "749c805b-529b-495e-9462-381adc5c2835",
      "name": "Translator",
      "credentials": {
        "openAiApi": {
          "id": "A9Nk5auye7S4VJEq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ainsider.pl/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{ $('Wordpress').item.json.title.raw }}.jpg"
            },
            {
              "name": "content-type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        60
      ],
      "id": "81d679ef-9d44-43c0-9d22-4d4faaba79d7",
      "name": "Upload Image",
      "credentials": {
        "wordpressApi": {
          "id": "vhK6QnOjlOUmcnfg",
          "name": "Ainsider-pl"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Notion Trigger1').item.json['Files & media'][0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "mimetype",
              "value": "image/jpeg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        60
      ],
      "id": "ebbe284c-42b4-4c6d-aaf6-1091c9778d73",
      "name": "Download"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://ainsider.pl/wp-json/wp/v2/posts/{{ $('Wordpress').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        60
      ],
      "id": "2d89ef6d-66a4-43c4-ab37-66f4fc0a44a0",
      "name": "Attach Feature Image",
      "credentials": {
        "wordpressApi": {
          "id": "vhK6QnOjlOUmcnfg",
          "name": "Ainsider-pl"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger1').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Content|rich_text",
              "textContent": "={{ $('Researcher').item.json.output }}"
            },
            {
              "key": "Content Translated|rich_text",
              "textContent": "={{ $json.message.content.translated_article }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1220,
        -280
      ],
      "id": "6bfde146-f1a5-496a-be0c-3b13cac27294",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "MIpl5ShRU371CjrS",
          "name": "Notionn8n"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 3,
              "unit": "minutes"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "fc466ffc-2180-4c0f-87fb-3c8b7bdbbae6",
          "mode": "list",
          "cachedResultName": "Gallery",
          "cachedResultUrl": "https://www.notion.so/fc466ffc21804c0f87fb3c8b7bdbbae6"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        -60
      ],
      "id": "c3079f8c-6265-4699-bffe-40a73c04ee51",
      "name": "Notion Trigger1",
      "credentials": {
        "notionApi": {
          "id": "MIpl5ShRU371CjrS",
          "name": "Notionn8n"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Researcher",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Researcher": {
      "main": [
        [
          {
            "node": "Translator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translator": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Attach Feature Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger1": {
      "main": [
        [
          {
            "node": "Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33f3dc0d-8b12-42a9-8811-a561e2228660",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c888959b38494396794b70188a19578baf88bb0b002f3a290fa504cabea4bfd5"
  },
  "id": "tq27ZmA2X1YG9CZ7",
  "tags": []
}